<v-card outlined tile class="px-0 mt-n2" v-show="decorator.show">
  <v-card-title class="py-1 px-1">
    <v-btn small icon @click="resetToDefault">
      <v-icon>mdi-home-circle-outline</v-icon>
    </v-btn>
    <v-btn
      small
      icon
      @click="toggleRange"
      :disabled="!availableScalarRange"
      :color="showValueGenerator ? 'primary' : ''"
    >
      <v-icon small>mdi-arrow-expand-horizontal</v-icon>
    </v-btn>
    <v-col class="py-0 my-0">
      <div v-if="!availableScalarRange">{{ label }}</div>
      <v-row v-if="availableScalarRange" class="text-caption py-0 my-0">
        <v-col cols="6" class="text-truncate py-0 my-0">
          {{  availableScalarRange[0] }}
        </v-col>
        <v-col cols="6" class="text-truncate py-0 my-0">
          {{  availableScalarRange[1] }}
        </v-col>
      </v-row>
    </v-col>

    <v-btn small icon @click="clearEntries">
      <v-icon>mdi-close-circle-outline</v-icon>
    </v-btn>
    <v-btn small icon @click="addEntry">
      <v-icon>mdi-plus-circle-outline</v-icon>
    </v-btn>
  </v-card-title>
  <v-divider v-if="availableScalarRange && showValueGenerator" />
  <v-row v-if="availableScalarRange && showValueGenerator" class="px-2 py-0 my-0" align="center">
    <v-col cols="4">
      <v-text-field
        label="Min"
        v-model="minValue"
        type="number"
        dense
        hide-details
      />
    </v-col>
    <v-col cols="4">
      <v-text-field
        label="Max"
        v-model="maxValue"
        type="number"
        dense
        hide-details
      />
    </v-col>
    <v-col cols="4">
      <v-row>
        <v-text-field
          label="Count"
          v-model="spreadCount"
          type="number"
          min="3"
          max="1000"
          step="1"
          @input="spreadValues"
          dense
          hide-details
        />
        <v-btn small icon @click="spreadValues" color="green" class="mx-2">
          <v-icon>mdi-check-circle-outline</v-icon>
        </v-btn>
      </v-row>
    </v-col>
  </v-row>
  <v-divider />
  <v-card-text>
    <v-col class="pa-0">
      <v-row v-for="v, i in model" :key="i" align="center">
        <v-text-field
          v-model="model[i]"
          hide-details
          dense
          @blur="validate"
          class="px-2 my-0 py-0"
        />
        <v-btn small icon @click="removeEntry(i)">
          <v-icon>mdi-minus-circle-outline</v-icon>
        </v-btn>
      </v-row>
    </v-col>
  </v-card-text>
</v-card>
